html {
    width: 100%;
    height: 100%;
}

body {
    height: 99%;
    background: linear-gradient(180deg, rgb(140, 19, 19) 20%, rgb(0, 0, 0) 50%);
}

.mainBoxC {
    background-image: url(img/ruta_c.png);
}