html {
    width: 100%;
    height: 100%;
}

#body__C {
    height: 98%;
    background: linear-gradient(180deg, rgb(140, 19, 19) 20%, rgb(0, 0, 0) 50%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.headerC{
    width: 101%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    margin: -0.5%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainBoxC {
    height: 84%;
    background-image: url(img/rutaC.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: -0.5%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    justify-content: space-between;
    gap: 10%;
}

.mainBoxC__option1 {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 20%;
    margin-left: 45%;
}

.mainBoxC__option2 {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 30%;
    margin-left: 52%;
}

.mainBoxC__option3 {
    grid-column-start: 3;
    grid-row-start: 1;
    margin-top: 20%;
    margin-left: 55%;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    transition: 1s;
    font-size: 300%;
    text-shadow: 1px 1px 20px rgb(255, 255, 255);
}