html {
    width: 100%;
    height: 100%;
}

#body__B1 {
    height: 98%;
    background: linear-gradient(180deg, rgb(87, 56, 8) 20%, rgb(98, 109, 212) 50%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.headerB1{
    width: 101%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    margin: -0.5%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainBoxB1 {
    height: 84%;
    background-image: url(img/rutaB1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: -0.5%;
    display:grid;
    grid-template-columns: 4fr, 4fr;
}

.mainBox__option1 {
    grid-column-start: 2;
}

.mainBox__option1 {
    grid-column-start: 3;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    transition: 1s;
    color: rgb(255, 255, 255);
}