html {
    width: 100%;
    height: 100%;
}

#body__A1 {
    height: 98%;
    background: linear-gradient(180deg, rgb(79, 91, 199) 20%, rgb(61, 39, 6) 60%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.headerA1{
    width: 101%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    margin: -0.5%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainBoxA1 {
    height: 84%;
    background-image: url(img/rutaA1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: -0.5%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    justify-content: space-between;
    gap: 10%;
}

.mainBoxA1__option1 {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-left: 60%;
}

.mainBoxA1__option2 {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-left: 20%;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    transition: 1s;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 20px rgb(0, 0, 0);
    font-size: 25px;
}